[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.26.3"
opencv-python = "4.10.0.82"
face-recognition = "*"
pillow = "~=10.4.0"

[dev-packages]

[requires]
python_version = "3.10"
